@{
    Layout = "_Layout";
    ViewData["Title"] = "About Us";
}

@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1>@ViewData["Message"]</h1>
    <p>I'll put more in later</p>
</div>