@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact Us";
}

@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h1>@ViewData["Message"]</h1>
    <p>Call me!</p>
</div>